

* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    color: rgba(0,0,0,0.87);
}

body {
    background-color: cornsilk;
}
header {
    display: flex;
    justify-content:right;
    align-items: center;
    height: 48px;
    padding: 6px;
    font-size: small;
    
    background-color: white;
}

navbar-icons {
    padding: 6px 8px 4px 4px;
    /* background-color: violet; */
}

navprofile {
    padding: 4px;
}

.nav-profile-pic {
    border-radius: 50%;
  }
  
  li {
    display: inline;
}