

* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    color: rgba(0,0,0,0.87);
}

body {
    background-color: cornsilk;
}
header {
    display: flex;
    justify-content:right;
    align-items: center;
    height: 48px;
    padding: 6px;
    font-size: small;
    
    background-color: white;
}

navbar-icons {
    display: flex;
    padding: 4px;
}

nav-prof {
    display: inline-block;
    padding: 4px;
    /* background-color: tomato; */
}

.nav-profile-pic {
    border-radius: 50%;
}

nav-apps {
    display: inline-block;
    padding: 4px;
    /* background-color: tomato; */
}

nav-icon {
    display: inline-block;
    text-align: center;
    height: 32px;
    width: 32px;
    /* background-color: yellowgreen; */
    padding: 4px;
    cursor: pointer;
}


nav-icon:hover {
    background-color: rgba(60,64,67,0.08);
    border-radius: 50%;
}



a {
    text-decoration: none;
}

li {
    display: inline;
    padding-left: 11px;
    cursor: pointer;
    text-decoration: none;
}

li:hover {
    text-decoration: underline;
    ;
}

.nav-list {
    padding-right: 12px;
}


.google-picture {
    height: 290px;
    background-color: tomato;
}